@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* font-family: 'Roboto Mono', monospace; */
* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	padding: 2rem;
}
main {
}
.container {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 300px;
	width: 100%;
	padding: 2rem 2rem;
}
.img-container {
	height: 250px;
	position: relative;
}
img {
	width: 60%;
	position: absolute;
	border: 2px solid black;
	border-radius: 50%;
	margin: 20px 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tabcontent {
	display: block;
	text-align: center;
	width: 400px;
	padding: 20px 20px;
	margin: 1rem 1rem;
}
.tab {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}
.tab button {
	display: block;
	background-color: inherit;
	color: white;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
	margin: 10px;
	opacity: 0.7;
}
.tab button:hover {
	color: aqua;
}
.tab button.active {
	color: black;
	opacity: 1;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
